*{
    margin:0;
}
html { 
    background-color:#222222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

.container{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    font-family: 'Poppins', 'sans-serif';
    filter:brightness(100%);
}
.container h1{
    font-size: 24px;
    line-height: 0;
}

.container h2{
    font-size: 60px;
    line-height: 0;
}

.btn-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn-container a{
    text-decoration: none;
    background-color: #FA632A;
    border: solid 2px #FA632A;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.btn-container a:hover{
    transition: 0.2s ease-in;
    background-color: transparent;
    border: solid 2px #FA632A;
    color: black;
    font-weight: 500;
}

.nav {
    font-size: 15px;
    font-family: "Catamaran", sans-serif;
    padding: 30px;
    top: 0px;
    background-color: #181818;
    
  }

.nav li {
    display: inline-block;
    padding:0px 20px 0px 20px;
}
.navlogo{
    width: 120px;
    height: auto;
    position:relative;
}

.navitems a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.navitems a:hover{
    color: #FA632A;
    transition: 0.3s;
}

.box{
	position:relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: white;
	float:left;
	margin: 15px;
	box-sizing: border-box;
	overflow:hidden;
	box-shadow: 0 5px 10px  rgba(0,0,0,.8);
}

.containbox{
	position:relative;
	width:1200px;
	height: auto;
	margin: 30px auto 0;
	padding-bottom: 40px;
	background-repeat: no-repeat;
}

.ptext{
    position:relative;
    padding: 30px 0px 30px 0px;
    width:100%;
    text-align:center;
    color:white;
    font-family: 'Poppins';
    font-size:48px;
    letter-spacing:4px;
    text-transform:uppercase;
  }

  .container-fluid{
      width: 40%;
      margin: 0 auto;
      margin-top: 100px;
  }

  .container-fluid h2{
      color:#FA632A;
      position: relative;
      width: 23rem;
  }

  .container-fluid h2::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 12px;
      width: 67px;
      height: 2px;
      background-color: orange;
  }

  .accordion{
      width: 100%;
      padding: 0 5px;
      border: 2px solid orange;
      cursor:pointer;
      border-radius: 50px;
      margin: 10px 0;
      align-items: center;
  }

  .accordion .icon{
      margin : 0 10px 0 0;
      width: 30px;
      height: 30px;
      background: blue;
      border-radius: 50%;
      float: left;
      transition: all .5 ease-in;
  }

  .accordion h5{
      font-size: 22px;
      margin: 0;
      padding: 3px 0 0 0;
      font-weight: normal;
      color:white;
  }

  .panel{
      padding: 0 15px;
      border-left: 1px solid #FA632A;
      margin-left: 25px;
      font-size: 14px;
      text-align: justify;
      overflow: hidden;
      max-height: 0;
      transition: all .5s ease-in;
  }