@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin:0;
}
a{
  text-decoration: none;
}
html { 
    background-color:#222222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

.container{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    font-family: 'Poppins', 'sans-serif';
    filter:brightness(100%);
}
.container h1{
    font-size: 24px;
    line-height: 0;
}

.container h2{
    font-size: 60px;
    line-height: 0;
}

.btn-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn-container a{
    text-decoration: none;
    background-color: #FA632A;
    border: solid 2px #FA632A;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.btn-container a:hover{
    transition: 0.2s ease-in;
    background-color: transparent;
    border: solid 2px #FA632A;
    color: black;
    font-weight: 500;
}

.nav {
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    padding: 30px;
    top: 0px;
    background-color: #181818;
  }

.nav img{
    margin-top: 3px;
    display: block;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 35%;
}

.nav li {
    display: inline-block;
    padding: 0;
    margin: auto;
    
}
.navlogo{
    width: 130px;
    height: auto;
    position: relative;
    padding: 0;
}

.navitems a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.navitems a:hover{
    color: #FA632A;
    transition: 0.3s;
}

.box{
	position:relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: white;
	float:left;
	margin: 15px;
	box-sizing: border-box;
	overflow:hidden;
	box-shadow: 0 5px 10px  rgba(0,0,0,.8);
}

.containbox{
	position:relative;
	width:1200px;
	height: auto;
	margin: 30px auto 0;
	padding-bottom: 40px;
	background-repeat: no-repeat;
}

.ptext{
    position:relative;
    padding: 30px 0px 30px 0px;
    width:100%;
    text-align:center;
    color:white;
    font-family: 'Poppins';
    font-size:64px;
    letter-spacing:4px;
    text-transform:uppercase;
  }

.faqdiv{
      min-height: 100vh;
      width: 80%;
      margin:0 auto;
      display:flex;
      flex-direction: column;
      align-items: center;
}
      
.accordion {
    background-color: #222222;
    color: white;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px; 
    transition: 0.4s;
    justify-content: space-between;

  }
  
  /*.active, .accordion:hover {
    background-color: #ccc;
  }*/
  
  .panel {
    padding: 0 18px;
    background-color: #222222;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 77%;
    border-bottom: 2px solid #FFFFFF;
    color:#FFFFFF;
    font-size: 20px;
    letter-spacing: 1px; 
    font-family: "Quicksand", sans-serif;
  }
  .panel p{
      padding-bottom: 20px;
      padding-left: 0px;
  }
  .arrow {
    border: solid white;
    border-width: 0 6px 6px 0;
    padding: 6px;
    float: right;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  footer img {
    max-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  
  footer ul li {
    text-decoration: none;
    color: aliceblue;
  }
  
  footer ul li a {
    list-style-type: none;
    color: aliceblue;
  }
  footer ul li a:hover {
    text-decoration: none;
    color: aliceblue;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #181818;
    color: aliceblue;
    z-index: 200;
    padding-bottom: 10px;
  }
  
  footer p {
    text-align: center;
    padding: 0% 20% 0% 20%;
  }
  
  footer ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 3%;
    margin-left: 12%;
    margin-right: 8%;
    margin-bottom: 0px;
    text-align: center;
  }
  
  footer hr {
    background-color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
  }

  footer ol {
    display: block;
    margin: auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  
  footer ol li {
    display: inline-block;
    margin: auto;
  }

  .infohead{
    font-family: 'Poppins';
    color:#FA632A;
    display: block;
    align-items: left;
    font-size:20px;
    font-weight: bold;
    padding-left: 10px;
}

  footer .infohead{
      font-size: 16px;
  }
