@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: 'Poppins', 'sans-serif';
}

 a {
    text-decoration:none;
 }

 .header{
    margin-top: 5rem;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 100%;
}

.header img{
    width: 100%;
    height: 60%;
    object-fit: cover
}

.container{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    font-family: 'Poppins', 'sans-serif';
    filter:brightness(100%);
}
.container h1{
    font-size: 24px;
    line-height: 0;
}

.container h2{
    font-size: 60px;
    line-height: 0;
}

.btn-container{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn-container a{
    text-decoration: none;
    background-color: #FA632A;
    border: solid 2px #FA632A;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.btn-container a:hover{
    transition: 0.2s ease-in;
    background-color: transparent;
    border: solid 2px #FA632A;
    color: black;
    font-weight: 500;
}

.nav {
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
    padding: 30px;
    top: 0px;
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.nav img{
    margin-top: 3px;
    display: block;
}

.info-row img{
    border-radius: 50%;
    width: 250px;
    min-height: 120px;
    max-height: auto;
    margin-bottom: 2rem;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 35%;
}

.items2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 12%;
    color: #ffffff
}

.items2 li{
    cursor: pointer;
    font-size: 16px;
    width: 70%;
}

.items2 img {
    width: 60px;
    min-height: 50px;
    max-height: auto;
    border-radius: 50%;
}

.nav li {
    display: inline-block;
    padding: 0;
    margin: auto;
    
}
.navlogo{
    width: 130px;
    height: auto;
    position: relative;
    padding: 0;
}

.navitems a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.navitems a:hover{
    color: #FA632A;
    transition: 0.3s;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0.2rem 0 0 0 ;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
}


.with-submenu {
    position: relative;
    display: inline-block;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu a {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    text-decoration: none;
    color: #FFFFFF;
    background: #FA632A;
    color: #FFFFFF;
    transition: 0.3s all ease;
    display: block;
    line-height: 0%;
    padding: 1rem;
}



.submenu > a:hover{
    transition: 0.3s all ease;
    background: #FFFFFF;
    color: #222222;
}

table{
    width: 100%;
    text-align: center;
    background-color: #6a6a6a38;
    padding: 1rem;
}

td{
    padding: 1rem;
}

td a{
    background-color: #e5e5e5a2;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s ease;
}

td a:hover{
    background-color: red;
    color: #FFFFFF;
    transition: 0.4s ease;
}

.containbox{
    display:flex;
    justify-content: center;
}

.box{
	width: calc(335px - 30px);
	height: auto;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	margin: 15px;
	box-shadow: 0 5px 10px  rgba(0,0,0,.8);
}

.boximg{
    background-size: cover;
    background-color: white;
    height: 170px;
    width: auto;
}

.box p{
    color:white;
}


.ptext{
    position:relative;
    padding: 50px 0px 50px 0px;
    width:100%;
    text-align:center;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size:64px; 
    letter-spacing:4px;
    text-transform:uppercase;
  }

.bookbutton {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #FA632A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}
.infohead{
    font-family: 'Poppins';
    color:#FA632A;
    display: block;
    align-items: left;
    font-size:20px;
    font-weight: bold;
    padding-left: 10px;
}

.infotext{
    font-family: 'Poppins';
    color:white;
    display: block;
    font-size:20px;
    height: auto;
    margin:auto;
    padding-left: 10px;
    padding-right:10px;
}

.marketplacehead{
    background: url(../images/marketplacebg3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
	position:relative;
	width: 100%;
	height: 500px;;
    word-wrap: break-word;
}

.marketdiv{
	position:relative;
	width:80%;
	height:auto;
	margin: 30px auto 0;
    word-wrap: break-word;
}

.marketdiv .ptext{
    padding-left: 20px;
    text-align: left;
    color:white;
}

.aboutdiv{
	text-align: center;
	background: #222222;
}

.head{
	padding-top:80px;
	color: white;
	font-size: 30px;
	width: 70%;
	margin: auto;
	line-height: 80px;
    font-family: "Quicksand", 'sans-serif';
    text-align: left;
}

.head h1{
    border-bottom: 1px solid #FA632A;
}

.sub-container{
	max-width: 90%;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.mem{
	margin: 10px;
	width: 25%;
	box-sizing: border-box;
	cursor:pointer;
	transition:0.3s;
    text-align: left;
    background-color: #181818;
	
}

.mem:hover{
	background:#ddd;
    color:black;
}

.mem img{
	border: 1px solid #E1E0DE;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }
  

.name{
	padding: 20px;
	color: #f47720;
	font-size: 20px;
    font-weight: bold;
    font-family: "Quicksand", 'sans-serif';
	text-transform: uppercase;

}


.text{
	margin: 20px 0;
	text-align:justify;
	font-weight: 24px;
	line-height: 25px;
	color: white;
	font-size: 14px;
	font-family: "Quicksand", 'sans-serif';
	
}
 


@media screen and (max-width: 980px){
	
	.mem{
		max-width: 45%;
	}
	
}

@media screen and (max-width: 600px){
	
	.mem{
		max-width: 100%;
	}
	
}

footer img {
    max-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  
  footer ul li {
    text-decoration: none;
    color: aliceblue;
  }
  
  footer ul li a {
    list-style-type: none;
    color: aliceblue;
  }
  footer ul li a:hover {
    text-decoration: none;
    color: aliceblue;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #181818;
    color: aliceblue;
    z-index: 200;
    padding-bottom: 10px;
  }
  
  footer p {
    text-align: center;
    padding: 0% 20% 0% 20%;
  }
  
  footer ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 3%;
    margin-left: 12%;
    margin-right: 8%;
    margin-bottom: 0px;
    text-align: center;
  }
  
  footer hr {
    background-color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
  }

  footer ol {
    display: block;
    margin: auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  
  footer ol li {
    display: inline-block;
    margin: auto;
  }
  footer .infohead{
      font-size: 16px;
  }